spring:
  profiles:
    include:
      - db
      - aws
      - jwt
      - oauth

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDB103Dialect

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error

