spring:
  datasource:
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DATABASE_URL}/${DATABASE_NAME}?characterEncoding=UTF-8&characterSetResults=UTF-8&useLegacyDatetimeCode=false
